# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Flask instance folder (if using instance folder)
instance/
.webassets-cache

# Zappa deployment artifacts
.zappa/

# AWS SAM build artifacts
.aws-sam/

# Virtual environment folders
env/
venv/
ENV/
env.bak/
venv.bak/
aws/

# Editor and IDE specific files
.idea/
.vscode/

# Mac OS specific files
.DS_Store

# Other tempo
